*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  box-sizing: border-box;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 7px;
  height: 1rem;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: black;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #888888;
}
.app {
  background-color: #0b0c2a;
  position: relative;
}
